.docs {
  border-collapse: collapse;
}

.documents {
  margin-top: 20px;
  padding: 20px;
}

.card {
  height: 330px;
}

.col-sm-6,
.not-found {
  animation: popIn 0.2s;
}

@keyframes popIn {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.card-body:hover .description {
  opacity: 1;
}

.description {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #494949;
  transition: 500ms;
}

@media (max-width: 540px) {
  .form-inline {
    width: 70%;
    margin-left: 50px;
  }
  .form-control {
    margin-left: 0px;
  }
}
